Repository G-Rath/repo-event-notifier-lambda: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, npm run lint:all

Define `RequestHandler` interface
  src/definitions.ts
  src/definitions/RequestHandler.d.ts
Due: eslint

Install `ts-nameof` package
  package-lock.json
  package.json
  tsconfig.json
Due: none

Create `SlackAppRateLimitedEventFactory` factory
  test/factories/SlackAppRateLimitedEventFactory.ts
  test/factories/index.ts
Due: eslint

Implement support for `UrlVerification` slack events
  src/handlers/handleSlackRequest.ts
  test/src/handlers/handleSlackRequest.spec.ts
Due: eslint

Install `@sentry/node` package
  package-lock.json
  package.json
Due: none

Implement Sentry usage
  src/index.ts
  test/src/index.spec.ts
Due: eslint

Run `npm audit fix`
  package-lock.json
Due: none

Update `@typescript-eslint` packages
  package-lock.json
  package.json
Due: none

Update `husky` to `^3.0.0` (from `^2.4.1`)
  package-lock.json
  package.json
Due: none

Update `lint-staged` to `^9.2.0` (from `^8.2.1`)
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

Await `handleSlackRequest` so that it'll be caught in try/catch
  src/index.ts
Due: eslint

Install `lokijs` package
  package-lock.json
  package.json
Due: none

Install `aws-sdk` package
  package-lock.json
  package.json
Due: none

Update `eslint` & co packages
  .eslintrc
  package-lock.json
  package.json
Due: npm run lint:all

Path conditions:
  eslint: any of: **/*.{t,j}s{x,}
  npm run lint:all: any of: **/.eslint{rc,ignore}
