Repository G-Rath/repo-event-notifier-lambda: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, npm run lint:all

Install `husky` package
  .huskyrc.json
  package-lock.json
  package.json
Due: none

Install `jest` & related packages
  package-lock.json
  package.json
Due: none

Install `node-lambda` package & configure
  .env.example
  deploy.env.example
  index.js
  package-lock.json
  package.json
  src/index.ts
Due: eslint

Ensure that lambda responses have a string body
  index.js
Due: eslint

Type `request` parameter in `index`
  src/index.ts
Due: eslint

Install `http-status-codes` package
  package-lock.json
  package.json
Due: none

Type & implement basic return in `handler`
  src/index.ts
Due: eslint

Enable `pretty` output in `tsconfig.json`
  tsconfig.json
Due: none

Enable `alwaysStrict` in `tsconfig.json`
  tsconfig.json
Due: none

Remove redundant `strict*` config options from `tsconfig.json`
  tsconfig.json
Due: none

Move interfaces into `definitions` file
  src/definitions.ts
  src/index.ts
Due: eslint

Create `GenericException` class
  src/exceptions/GenericException.ts
  src/exceptions/index.ts
  test/src/exceptions/GenericException.spec.ts
Due: eslint

Create `UnhandleableRequestException` class
  src/exceptions/UnhandleableRequestException.ts
  src/exceptions/index.ts
  test/src/exceptions/UnhandleableRequestException.spec.ts
Due: eslint

Install `factory.ts` package
  package-lock.json
  package.json
Due: none

Define `ApiGatewayRequestContext` interface
  src/definitions.ts
Due: eslint

Create `ApiGatewayRequestContextFactory` & build fn
  test/factories/ApiGatewayRequestContextFactory.ts
  test/factories/index.ts
Due: eslint

Improve typing definition of `ApiGatewayRequest` interface
  src/definitions.ts
Due: eslint

Create `ApiGatewayRequestFactory` & build fn
  test/factories/ApiGatewayRequestFactory.ts
  test/factories/index.ts
Due: eslint

Create specification for `index`
  test/src/index.spec.ts
Due: eslint

Install `@slack/web-api` package
  package-lock.json
  package.json
Due: none

Enable `jest/prefer-strict-equal` eslint rule
  test/.eslintrc
Due: npm run lint:all

Define `ProcessEnv` in `env` definition
  src/env.d.ts
Due: eslint

Define `SLACK_SIGNING_SECRET` environment variable
  deploy.env.example
  src/env.d.ts
Due: eslint

Adjust `StringMap` definition to be a map of `string | undefined`
  src/definitions.ts
Due: eslint

Inline `StringMap` type
  src/definitions.ts
Due: eslint

Update `eslint-plugin-jest` to `^22.7.1` (from `^22.6.4`)
  package-lock.json
  package.json
Due: none

Update `@typescript-eslint` packages to `^1.11.0` (from `^1.10.2`)
  package-lock.json
  package.json
Due: none

Update `eslint` to `^6.0.0` (from `^5.16.0`)
  package-lock.json
  package.json
Due: none

Create `SlackRequestFailedValidationException` class
  src/exceptions/SlackRequestFailedValidationException.ts
  src/exceptions/index.ts
  test/src/exceptions/SlackRequestFailedValidationException.spec.ts
Due: eslint

Create `setupExpectEachTestHasAssertions` jest setup file
  package.json
  test/setupExpectEachTestHasAssertions.ts
Due: eslint

Install `tsscmp` package
  package-lock.json
  package.json
Due: none

Create `generateSlackSignatureForRequest` helper function
  test/helpers/generateSlackSignatureForRequest.spec.ts
  test/helpers/generateSlackSignatureForRequest.ts
  test/helpers/index.ts
Due: eslint

Create `isRequestFromSlack` utility function
  src/utils/index.ts
  src/utils/isRequestFromSlack.ts
  test/src/utils/isRequestFromSlack.spec.ts
Due: eslint

Adjust message of `UnhandleableRequestException`
  src/exceptions/UnhandleableRequestException.ts
Due: eslint

Create `handleSlackRequest` handler function
  src/handlers/handleSlackRequest.ts
  src/handlers/index.ts
  test/src/handlers/handleSlackRequest.spec.ts
Due: eslint

Define Slack `UrlVerificationEvent` interface
  src/definitions/slack/EventType.ts
  src/definitions/slack/SlackEvent.ts
  src/definitions/slack/UrlVerificationEvent.ts
  src/definitions/slack/index.ts
Due: eslint

Define Slack `AppRateLimitedEvent` interface
  src/definitions/slack/AppRateLimitedEvent.ts
  src/definitions/slack/EventType.ts
  src/definitions/slack/SlackEvent.ts
  src/definitions/slack/index.ts
Due: eslint

Create `SlackUrlVerificationEventFactory` factory
  test/factories/SlackUrlVerificationEventFactory.ts
  test/factories/index.ts
Due: eslint

Update `responds /w an empty "body"` test to actually test what it says it tests
  test/src/index.spec.ts
Due: eslint

Implement usage of `isRequestFromSlack` & `handleSlackRequest` in `handler` fn
  src/index.ts
  test/src/index.spec.ts
Due: eslint

Path conditions:
  eslint: any of: **/*.{t,j}s{x,}
  npm run lint:all: any of: **/.eslint{rc,ignore}
